html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f6fcff !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
navbutton {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #000;
  transition: 0.4s;
  font-size: 1em;
  cursor: pointer;
}

a:hover,
nav button:hover {
  color: #bbb;
}

h1,
form {
  max-width: 60%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span {
  margin-bottom: 0.3em;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.8em 0;
  background-color: transparent;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
  gap: 20px;
}

.button {
  font-size: 13px;
  font-weight: bold;
  background-color: #67a438;
  border: none;
  border-radius: 7px;
  color: #fff;
  padding: 1px 3px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #0f730c !important;
  color: #fff;
}
@media (min-width: 976px) {
  .button {
    font-size: 20px;
    width: 160px;
  }
}

.btn {
  background-color: #1a8918;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
}

.btn-group {
  text-align: center;
  cursor: pointer;
  display: flex; 
  flex-direction: row;
}
.btn.btn-outline-primary { 
  background: white; 
  border: 2px solid #98D3DF;
  color: #98D3DF;
  margin-bottom: 0;
  --bs-btn-color: #98D3DF;
    --bs-btn-border-color: #98D3DF;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #98D3DF;
    --bs-btn-hover-border-color: #98D3DF;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #98D3DF;
    --bs-btn-active-border-color: #98D3DF;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #98D3DF;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #98D3DF;
    --bs-gradient: none;
}

.btn.btn-dark {
  background-color: #000;
  border-radius: 0;
}

.btn.btn-outline {
  background-color: transparent;
  border-radius: 0;
  color: #000;
  border: 1px solid #000;
  padding: 7px 30px;
}

.btn:hover {
  background-color: #0f730c;
  color: #fff;
}

.btn.btn-outline:hover {
  background-color: #000;
}

.btn.btn-danger:hover {
  background-color: #dc3545;
}

button[disabled] {
  background-color: #aaa;
}

.selected {
  // border: 1px solid #0f730c !important;
  box-shadow: 0 0 7px 5px #ec9131 !important;
}
