.navbar {
  background: white;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 960px) {
  .navbar {
    justify-content: center;
  }
}
.calendar {
  font-size: 20px;
  color: #67a438;
  margin-top: 20px;
}
@media (max-width: 960px) {
  .calendar {
    display: none;
  }
}
.logoImage {
  height: 74px;
  margin-right: 10px;
  max-width: 60%;
}
@media (max-width: 960px) {
  .logoImage {
    height: 34px;
  }
}

.logoTitle {
  width: 500px;
  max-width: 80%;
}
@media (max-width: 960px) {
  .logoTitle {
    width: 295px;
  }
}
.search {
  display: flex;
  margin: 0;
}
@media (max-width: 960px) {
  .search {
    display:none;
  }
}
.button{
  font-size: 20px;
  font-weight: bold;
  background-color: #67a438;
  border: none;
  border-radius: 7px;
  color: #fff;
  padding: 1px 3px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 160px;
}

.hideMenuNav {
  display: none;
}
.x {
  height: 30px;
  color: gray;
}
.showMenuNav {
  position: absolute;
  width: 100%;
  top: 5;
  left: 0;
  background: #EC9131;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 0;
  margin-bottom: 0;
  z-index: 10;
}

.showMenuNav li{
  list-style-type: none;  
  padding: 20px;
  height: fit-content;
  position:relative;
}
.showMenuNav li:hover{
  background-color: #67a438;
  width: 100%;
}
.showMenuNav a {
  text-decoration: none;
  color: white;
  font-size: larger;
}
.hamburger {
  // removes default border on button element
  border: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #67a438;
  padding: 0.05;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
// positions the icon to the right and center aligns it vertically
  position: absolute;
  top:50%;
  right: 5px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #67a438;
}
@media (max-width: 960px) {
  .hamburger {
    display: block;
  }
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
