.destaque {
  font-size: 15px;
  color: #67a438;
  text-align: center;
  margin-inline: 5%;
  margin-block: 20%;
  max-width: 700px;
}
@media (min-width: 768px) {
  .destaque {
    font-size: 30px;
  }
}
@media (max-width: 960px) {
  .logoTitle {
    width: 295px;
  }
}

@media (max-width: 960px) {
  .logoImage {
    height: 34px;
  }
}